body {
	margin: 0;
	background-color: #1B202A;
	height: 100vh;
	width: 100vw;
}

.dot {
	display: none;
	position: absolute;
	background-color: white;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	animation-name: rainbow;
	animation-duration: 3s;
}

@keyframes rainbow {
    0%   {
		background-color: yellow;
	}
    25%   {
		background-color: green;
	}
    50%   {
		background-color: yellow;
	}
    90%   {
		background-color: purple;
		height: 128px;
		width: 128px;
		transform: translate(-64px,-64px);
	}
    100%   {
		background-color: white;
		height: 16px;
		width: 16px;
	}
}
